.title {
  text-align: center;
  font-size: 64px;
}

.subtitle {
  font-size: 36px;
  margin-top: 12px;
}

.fancy-description {
  background: #66CCBE;
  background: radial-gradient(circle farthest-corner at center center, #66CCBE 34%, #BAB0FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin: 42px auto;
  text-align: center;
  width: 50vw;
}

.gif-content {
  display: block;
  margin: 4rem auto; 
  width: 50%;
}

.github-link {
  color: #0e0b00;
  margin-top: 48px;
  text-decoration: none;
  background-color: white;
  padding: 16px;
  border-radius: 24px;
  font-weight: bold;
  transition: .2s;
  white-space: nowrap;
}

.github-link:hover {
  font-size: 17px;
  background-color: #66ccbe;
  color: white;
}

@media screen and (max-width: 872px) {
  .gif-content {
    width: 95%;
  }

  .github-link {
    font-size: 14px;
  }

  .github-link:hover {
    font-size: 15px;
  }
}
