.clinote-title {
  text-align: center;
  font-size: 64px;
}

.fancy-description {
  background: #66CCBE;
  background: radial-gradient(circle farthest-corner at center center, #66CCBE 34%, #BAB0FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  width: 50vw;
}

.gif-content {
  display: block;
  margin: 4rem auto; 
  width: 50%;
}

@media screen and (max-width: 872px) {
  .gif-content {
    width: 90%;
  }
}
