* {
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem;
  font-family: 'Karla', sans-serif;
  background-color: #0b0e00;
  color: white;
  font-size: 16px;
  text-align: center;
  margin: auto 15vw;
}

h1, h2, h3 {
  color: #66ccbe;
  margin-bottom: 16px;
}
