* {
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem;
  font-family: 'Karla', sans-serif;
  background-color: #212121;
  color: white;
  font-size: 16px;
  text-align: center;
  margin: auto 15vw;
  background:
      radial-gradient(50% 50% at 100% 0,#212121 0%  5% ,#191919 6%  15%,#212121 16% 25%,#191919 26% 35%,#212121 36% 45%,
       #191919 46% 55%,#212121 56% 65%,#191919 66% 75%,#212121 76% 85%,#191919 86% 95%,
       #0000 96%),
      radial-gradient(50% 50% at 0 100%,#212121 0%  5% ,#191919 6%  15%,#212121 16% 25%,#191919 26% 35%,#212121 36% 45%,
       #191919 46% 55%,#212121 56% 65%,#191919 66% 75%,#212121 76% 85%,#191919 86% 95%,
       #0000 96%),
      radial-gradient(50% 50%,#212121 0%  5% ,#191919 6%  15%,#212121 16% 25%,#191919 26% 35%,#212121 36% 45%,
       #191919 46% 55%,#212121 56% 65%,#191919 66% 75%,#212121 76% 85%,#191919 86% 95%,
       #0000 96%),
      radial-gradient(50% 50%,#212121 0%  5% ,#191919 6%  15%,#212121 16% 25%,#191919 26% 35%,#212121 36% 45%,
       #191919 46% 55%,#212121 56% 65%,#191919 66% 75%,#212121 76% 85%,#191919 86% 95%,
       #0000 96%) 30px 30px;
background-size: 60px 60px;
background-color: #212121;
}

h1, h2, h3 {
  color: #66ccbe;
  margin-bottom: 16px;
}

@media screen and (max-width: 872px) {
  body {
    margin: auto 5vw;
    padding: 1rem;
  }
}
